* {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
    position: absolute;
}

.v-btn {
    letter-spacing: 0px!important;
    text-transform: none!important;
    font-size: 18px!important;
}

.bolder {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.v-application ul, .v-application ol {
    padding-left: 0px;
}